<footer class="site-footer">
  <section class="site-footer-links">
    <div class="row">
      <div class="column medium-column-65">
        <nav class="social-navigation" role="navigation">
          <ul></ul>
        </nav>

        <div class="copyright">
          &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}. Proudly published with <a href="https://ghost.org">Ghost</a>
        </div>
      </div>
      <div class="column medium-offset-5">
        <a href="#" class="scroll-top">Going up?</a>
      </div>
    </div>
  </section>
</footer>
