{{#get "tags" limit="5" include="count.posts" order="count.posts desc"}}
  <section class="widget">
    <h3 class="widget-title">Tags</h3>
    <ul>
      {{#foreach tags}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/foreach}}
    </ul>
  </section>
{{/get}}
